body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://i.pinimg.com/originals/97/a1/c9/97a1c9b11dd6805251fe85df8a090bc8.jpg);
    display: flex;
    justify-content: center;
  }

  /* Estilos para el contenedor */
  .container {
    margin-top: 100px;
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    padding: 15px;
    /* Espacio interno del contenedor */
    box-sizing: border-box;
  }

  /* Estilos para las filas */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    /* Negativo para compensar el espacio agregado en los lados de las columnas */
  }

  /* Estilos para las columnas */
  .col-sm-4 {
    flex: 0 0 calc(33.33%);
    /* Cada columna ocupa aproximadamente el 33.33% del ancho del contenedor con un espacio entre ellas de 15px */
    padding: 15px;
    /* Espacio interno de la columna */
    box-sizing: border-box;
  }

  .col-sm-8 {
    flex: 0 0 calc(66.66%);
    /* Cada columna ocupa aproximadamente el 66.66% del ancho del contenedor con un espacio entre ellas de 15px */
    padding: 15px;
    /* Espacio interno de la columna */
    box-sizing: border-box;
  }

  /* Estilos de ejemplo para las columnas */
  .col-sm-4 {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
  }

  .col-sm-8 {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }

  /* Clearfix para corregir el colapso de filas */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .pic {
    background-size:cover;
    display: inline-flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    margin: 0 20px 0 20px
 
  }

  .form_input{
    display: block;
    padding:.5rem 2rem;
    border-radius: 5 px;
    border: 0;
    outline: solid 2px rgb(143,143,143);
  }

  .form_label{
    transition:all .5s;
    position: absolute;
    top:25px;
    left:2rem;
    background: white;
    padding: 0 .5rem;
    color: rgb(143,143,143)
  }

  .form_box{
    position: relative;
    padding: 1rem;
  }

  .form_input:focus{
    outline:solid 2px #4285f4;
  }

  .form_input:focus+.form_label{
    transform: translateY(-1.2rem);
    font-size: 13px;
    color: #4285f4;
  }

  .form_input:not(:placeholder-shown)+.form_label{
    transform: translateY(-1.2rem);
    transition: .5s;
    font-size: 13px;
  }


  /* Estilos para dispositivos pequeños */
  @media (max-width: 768px) {

    .col-sm-4,
    .col-sm-8 {
      flex: 0 0 calc(100% - 30px);
      /* Cada columna ocupa aproximadamente el 100% del ancho del contenedor con un espacio entre ellas de 15px */
    }
  }