body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://wallpapers.com/images/hd/blue-watercolor-background-muil0tf71cjhe6kv.jpg);
  }

  .container {
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
  }

  .colLeft{
    width: 40%;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .colRight {
    width: 60%;
    padding: 15px;
    background-color: transparent;
    box-sizing: border-box;
  }

  /* Clearfix para corregir el colapso de filas */
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .pic {
    background-size:cover;
    display: inline-flex;
    justify-content: center;
    width: 33.3%;
    aspect-ratio: 1 / 1;
  }

  .form_input{
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    display: block;
    padding:.4rem 2rem;
    border-radius: 5px;
    border: 0;
    outline: solid 2px rgb(143,143,143);
  }

  .btn {
    width: 40%;
    margin-inline: auto;
    font-size: 20px;
    display: block;
    padding: 0.4rem 2rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background-color: white;
  }

  .nav-btn {
    cursor: pointer; 
    font-size: xxx-large; 
    border-radius: 20px;
  }
 
  .form_label{
    font-size: 20px;
    transition:all .5s;
    position: absolute;
    top:25px;
    left:9rem;
    background: white;
    padding: 0 .5rem;
    color: rgb(143,143,143)
  }

  .form_box{
    margin:0 auto;
    position: relative;
    padding: 1rem;
  }
 
  .form_input:focus{
    outline:solid 2px #4285f4;
  }

  .form_input:focus+.form_label{
    transform: translateY(-1.2rem);
    font-size: 20px;
    color: #4285f4;
  }

  .form_input:not(:placeholder-shown)+.form_label{
    transform: translateY(-1.2rem);
    transition: .5s;
    font-size: 15px;
    border-radius: 20px;
  }

  .fullname{
    font-size: 25px;
    margin: 20px 0px 20px 0px;
    text-align: center;
  }

  .biography{
    font-size: 20px;
    text-align:left;
    padding: .8rem;
  }

  .deleteId{
    font-size: 13px;
    border-radius: 4px;
    padding:0.2rem;
    width:100px;
    outline: solid 2px rgb(143,143,143)

  }
  .delete_id{
    font-size: 13px;
    border-radius: 4px;
    padding:0.2rem -5rem;
    outline: solid 2px rgb(143,143,143);
    color: #ff3737;
    display: block;
    margin-inline: auto;
    margin-top: 10px;
  }

  #activityCardsContainer {
    display: block  ; /* Utilizar flexbox para la disposición de las tarjetas */
    /* flex-wrap: wrap; Permitir que las tarjetas se envuelvan a la siguiente línea si no caben en una sola fila */
    /* justify-content: space-between; Distribuir las tarjetas con espacio entre ellas */
}

.activity-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.activity-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.activity-card p {
    font-size: 16px;
    color: #666;
}

.activity-card img {
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    border: groove;
}


  /* Estilos para dispositivos pequeños */
  @media (max-width: 768px) {
    .container {
      flex-wrap: wrap;
    }
    .colRight, .colLeft {
      width: 100%;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro semitransparente */
    display: none; /* Inicialmente oculto */
    z-index: 1000; /* Colocar encima de todo */
}
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 1001;
  }
  
  .popup .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .popup .carousel .carousel-item {
    display: none;
  }
  
  .popup .carousel .carousel-item.active {
    display: block;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 30px;
    cursor: pointer;
  }